/* 
#logo{
    }

    body{
        background-color: #1869e2;
        margin-top: 5rem;
        margin-inline-start: 10rem;
    }

    #total-orders{
        background-color:rgb(14, 132, 230);
    }

    #Brownies{
        background-color:rgb(154, 160, 165);
    } */








