{% extends 'matapp/main.html' %}
{% load static %}

{% block content %}
<style>
    .card1{
        box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        margin: auto;
    }
</style>
<div>
    <div class="row1">
                <div class="col1">
                    <div class="col-md1">
                        <div class="card1 text-center text-black mb-4" style="width: 30rem;" id="square1">
                            <div class="card-body">
                                <h3><u>{{request.user}}s handleliste</u></h3>
                                <br>
                                {% for recipe in iListe %}
                                    {% if request.user in recipe.handleliste.all %}
                                        <h3 class="card-title">{{recipe.title}} <a href="{% url 'addToHandleliste' recipe.id %}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-trash3" viewBox="0 0 16 16">
                                            <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
                                          </svg></a></h3>
                                        
                                            {% for line in recipe.ingredientsFormat %}
                                                <p class="card-text">{{line}}</p>
                                            {% endfor %}
                                        <br>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
    </div>
</div>

{% endblock %} 