{% extends 'matapp/main.html' %}


{% block content %}

        <br>

        <div class="row">
            <div class="col-md">
                <div class="card card-body">
                    <h5>Mine oppskrifter</h5>
                </div>
                <div class="card card-body">
                    <table class="table">
                        <tr>
                            <th>Navn</th>
                            <th>Tid</th>
                            <th>Rating</th>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        <br>






{% endblock %} 