<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oppskrift</title>
</head>
<body>

<h2>Matrett 1</h2>

<table style="width:50%">
<!-- Dette er header i tabellen> -->

  <tr>
    <th>Ingredienser</th>
    <th>Mengde</th>
  </tr>
  
<!-- Her kommer ingrediensene og mengder -->
  <tr>
    <td>Ingrediens 1</td>
    <td>Mengde 1</td>
  </tr>
  
  <tr>
    <td>Ingrediens 2</td>
    <td>Mengde 2</td>
  </tr>
  
  <tr>
    <td>Ingrediens 3</td>
    <td>Mengde 3</td>
  </tr>
  
  <tr>
    <td>Ingrediens 4</td>
    <td>Mengde 4</td>
  </tr>
  
  <tr>
    <td>Ingrediens 5</td>
    <td>Mengde 5</td>
  </tr>
  
  <tr>
    <td>Ingrediens 6</td>
    <td>Mengde 6</td>
  </tr>
  
  
  <tr>
    <td>Ingrediens 7</td>
    <td>Mengde 7</td>
  </tr>
  
  <tr>
    <td>Ingrediens 8</td>
    <td>Mengde 8</td>
  </tr>
  
  <tr>
    <td>Ingrediens 9</td>
    <td>Mengde 9</td>
  </tr>
  
  <tr>
    <td>Ingrediens 10</td>
    <td>Mengde 10</td>
  </tr>
  
  <tr>
    <td>Ingrediens 11</td>
    <td>Mengde 11</td>
  </tr>
  
  <tr>
    <td>Ingrediens 12</td>
    <td>Mengde 12</td>
  </tr>
  
  <tr>
    <td>Ingrediens 13</td>
    <td>Mengde 13</td>
  </tr>
  
  <tr>
    <td>Ingrediens 14</td>
    <td>Mengde 14</td>
  </tr>
  
  <tr>
    <td>Ingrediens 15</td>
    <td>Mengde 15</td>
  </tr>
  
  

</table>

<p style="width:50%">  Fremgångsmåte her blablablablabla, bvlalblablalblalalblalblablalballbalablalblablalblabla</p>

    
</body>
</html>