{% extends 'matapp/main.html' %}
{% load static %}


{% block content %}

<div>
    <div class="row">
        <div class="col">
            <div class="col-md">
                <div class="card text-center text-black mb-4" style="width: 30rem;" id="square1">
                    <div class="card-body">
                        <h4 class="card-title">{{request.user}}</h4>
                                <!--Noe mer info om bruker :)-->
                    </div>
                </div>
                {% if request.user.username == 'admin' %}
                <div class="card text-center text-black mb-4" style="width: 30rem;" id="square1">
                    <div class="card-body">
                        
                            <a href="http://127.0.0.1:8000/admin">Admin Panel</a>
                        {% endif %}
                    </div>
                </div>
            </div>
         </div>
            
                  
</div>

{% endblock %} 
 