{% extends 'matapp/main.html' %}
{% load static %}


{% block content %}

<div>
    <div class="row">
                <div class="col">
                    <div class="col-md">
                        <!-- Hver oppskrift må ha en id, slik at hvert card kan settes til å ha en unik id -->
                        <div class="card text-center text-black mb-4" style="width: 30rem;" id="square1">
                            <!-- Hver oppskrift må kunne ha et bilde. Bildet linkes til under .bg-image-square1 css-blokken lenger oppe i denne filen-->
                            <div class="card-body">
                                <h4 class="card-title">{{request.user}}</h4>
                                <!--Noe mer info om bruker :)-->
                            </div>
                        </div>
                    </div>
                </div>
    </div>
</div>

{% endblock %} 