{% load static %}



<!-- <br> En anna form for poster:
<div class="col">
    <div class="col-md" style="width: 18rem;">
        <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="#">Rebecca S</a>
                    <small class="text-muted">13. februar kl 22</small>
                </div>
                <img src="{% static 'images/t.jpg' %}" class="card-img-top" alt="..." class="img-thumbnail">
                <h2><a class="article-title" href="#">Brownies</a></h2>
                <p class="article-content">Skikkelig god kake</p>
            </div>
        </article>
    </div>
</div>
<br> -->

<a class="btn btn-primary" href="{% url 'addRecipe' %}">New Recipe</a>
<br>
<div class="row" >
    {% for i in recipe %}
        <div class="col">
            <div class="col-md"> 
                <div class="card text-center text-black mb-4" style="width: 18rem;" id="total-delivered">
                   
                    <div class="card-body">
                        <h4 class="card-title">{{i.title}}</h4>
                        <p class="card-text">{{i.description}}</p>
                        <a class="btn btn-primary" href="{% url 'recipe' i.id %}">Se oppskrift</a>
                        <p class="card-text"> </p>
                        <a class="btn btn-primary" href="{% url 'editRecipe' i.id %}">Edit</a>
                        <a class="btn btn-danger" href="{% url 'deleteRecipe' i.id %}">Delete</a>
                        <div class="article-metadata">
                            <a class="mr-2">{{i.User}}</a>
                            <small class="text-muted">13. februar kl 22</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
    
    {% endfor %}
</div>