{% load static %}



<!-- <br> En anna form for poster:
<div class="col">
    <div class="col-md" style="width: 18rem;">
        <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="#">Rebecca S</a>
                    <small class="text-muted">13. februar kl 22</small>
                </div>
                <img src="{% static 'images/t.jpg' %}" class="card-img-top" alt="..." class="img-thumbnail">
                <h2><a class="article-title" href="#">Brownies</a></h2>
                <p class="article-content">Skikkelig god kake</p>
            </div>
        </article>
    </div>
</div>
<br> -->


<br>
<div class="row" >
    <div class="col">
        <div class="col-md"> 
            <div class="card text-center text-black mb-4" style="width: 18rem;" id="total-delivered">
                <img src="{% static 'images/oppskrift1.png' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h4 class="card-title">Taco</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                        the card's
                        content.</p>
                    <a href="#" class="btn btn-primary">Se oppskrift :D</a>
                    <p class="card-text"> </p>
                    <div class="article-metadata">
                        <a class="mr-2" href="#">Rebecca S</a>
                        <small class="text-muted">13. februar kl 22</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-black mb-4" style="width: 18rem;" id="total-delivered">
                <img src="{% static 'images/oppskrift1.png' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h4 class="card-title">Gryterett</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                        the card's
                        content.</p>
                    <a href="#" class="btn btn-primary">Se oppskrift :D </a>
                    <p class="card-text"> </p>
                    <div class="article-metadata">
                        <a class="mr-2" href="#">Rebecca S</a>
                        <small class="text-muted">13. februar kl 22</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-black mb-4" style="width: 18rem;" id="total-delivered">
                <img src="{% static 'images/oppskrift2.jpeg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h4 class="card-title">Suppe</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                        the card's
                        content.</p>
                    <a href="#" class="btn btn-primary">Se oppskrift :D</a>
                    <p class="card-text"> </p>
                    <div class="article-metadata">
                        <a class="mr-2" href="#">Rebecca S</a>
                        <small class="text-muted">13. februar kl 22</small>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="col-md">
            <div class="card text-center text-black mb-4" style="width: 18rem;" id="total-delivered">
                <img src="{% static 'images/oppskrift3.jpeg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h4 class="card-title">Pizza</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                        the card's
                        content.</p>
                    <a href="#" class="btn btn-primary">Se oppskrift :D</a>
                    <p class="card-text"> </p>
                    <div class="article-metadata">
                        <a class="mr-2" href="#">Rebecca S</a>
                        <small class="text-muted">13. februar kl 22</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-black mb-3" style="width: 18rem;" id="square7">
                <img src="{% static 'images/oppskrift3.jpeg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h4 class="card-title">Smoothie</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                        the card's
                        content.</p>
                    <a href="#" class="btn btn-primary">Se oppskrift :D</a>
                    <p class="card-text"> </p>
                    <div class="article-metadata">
                        <a class="mr-2" href="#">Rebecca S</a>
                        <small class="text-muted">13. februar kl 22</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-black mb-4" style="width: 18rem;" id="total-delivered">
                <img src="{% static 'images/gulrotkake.jpeg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h4 class="card-title">Gulrotkake</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                        the card's
                        content.</p>
                    <a href="#" class="btn btn-primary">Se oppskrift :D</a>
                    <p class="card-text"> </p>
                    <div class="article-metadata">
                        <a class="mr-2" href="#">Rebecca S</a>
                        <small class="text-muted">13. februar kl 22</small>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="col-md">
            <div class="card text-center text-black mb-4" style="width: 18rem;" id="total-delivered">
                <img src="{% static 'images/oppskrift4.jpeg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h4 class="card-title">Muffins</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                        the card's
                        content.</p>
                    <a href="#" class="btn btn-primary">Se oppskrift :D</a>
                    <p class="card-text"> </p>
                    <div class="article-metadata">
                        <a class="mr-2" href="#">Rebecca S</a>
                        <small class="text-muted">13. februar kl 22</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-black mb-4" style="width: 18rem;" id="total-delivered">
                <img src="{% static 'images/oppskrift5.jpeg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h4 class="card-title">Suksessterte</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                        the card's
                        content.</p>
                    <a href="#" class="btn btn-primary">Se oppskrift :D</a>
                    <p class="card-text"> </p>
                    <div class="article-metadata">
                        <a class="mr-2" href="#">Rebecca S</a>
                        <small class="text-muted">13. februar kl 22</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>