{% extends 'matapp/main.html' %}
{% load static %}

{% block content %}
    {% if page == 'login' %}
    <div>
        <form method="POST" action="">
            {% csrf_token %}
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}><p style="color: red;">{{ message }}</p></li>
                {% endfor %}
            </ul>
            {% endif %}

            <div class="form">
            <label>Username:</label>
            <input type="text"  name="username" placeholder="Enter Username"/>
            <label>Password:</label>
            <input type="password" name="password" placeholder="Enter Password"/>

            <input type="submit" value="login"/>
        </form>
        <p>Ikke registrert?</p>
        <a href="{% url 'register' %}">Registrer</a>
    </div>
    </div>

    {% else %}

    <div>
        <form method="POST" action="">
            {% csrf_token %}
            <div class="form">
                {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}><p style="color: red;">{{ message }}</p></li>
                {% endfor %}
            </ul>
            {% endif %} 
                {{RegForm.as_p}}
            </div> 
            <input type="submit" value="register"/>
        </form>
        <p>Allerede registrert?</p>
        <a href="{% url 'login' %}">Logg inn</a>
    </div>
    {% endif %}
{% endblock content %}